# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
.venv-mac/
venv/
env/

# Models
*.h5

# Environment variables (IMPORTANT)
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

PROJECT_SUMMARY.md
git-lfs-temp/