# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Models
*.keras
*.h5

# Environment variables (IMPORTANT)
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db